:host{
    &:nth-child(odd){
        --date-color: var(--orange);
        --bg-color: var(--light_orange);
    }
    &:nth-child(even){
        --date-color: var(--green);
        --bg-color: var(--light_green);
    }
}
.post_item{
    display: flex;
    align-items: stretch;
    outline: 2px solid transparent;
    transition: outline-color 0.3s;
    background-color: var(--bg-color);
}
.post_item img{
    height: 100%;
    object-fit: cover;

    // &:hover{
    //     outline: 2px solid var(--date-color);
    // }
}
.post_item:hover{
    outline: 2px solid var(--date-color);
}
.post_item .date {
    color: var(--date-color);
    margin-left: 49px;
    margin-top: 63px; 
}

.post_item.odd {
    background-color: var(--light_orange);
}


.post_item img {
    height: 100%;
    object-fit: cover;
}

.post_descr{
    margin-top: 16px;
    margin-left: 49px;
}
h3{
    margin-top: 8px;
    margin-left: 49px;
}

