:root{
    --text:#323743;
    --logo:#1A1B20;
    --footer:#1E2128;
    --textMenu:#68686A;
    --green:#61C15C;
    --light_green:#F4FBF4;
    --line: #BDC1CA;
    --orange:#DB5E31;
    --light_orange:#FEF3EF;
    --light_text:#FDFEFF;
    --post_card:#FAFAFA;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
} 

.container {
	max-width: 1200px;
	margin: 0 auto; /* центрирует контент */
    margin-left: 132px;
    margin-right: 133px;
}

body{
    
    margin:0;
}

p{
    color: var(--text);
}
h1{
    font-size: 52px;
    font-weight: 700;
    color: var(--text);
}
h2{
    font-size: 40px;
    font-weight: 700;
}
h3{
    font-size: 32px;
    font-weight: 700;
    color: var(--text);
}
h4{
    font-size: 24px;
    font-weight: 400;
}
p{
    font-size: 16px;
    font-weight: 400;
}

.header{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo{
    font-size: 30px;
    color: var(--logo);
    font-weight: bold;
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    color: var(--textMenu);

}

.menu a.active{
    color:var(--green);
}
.menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px; 
    transition: text-shadow 0.3s ease;
}
.menu li:hover {
    text-shadow: 0 0 1px currentColor;
}
/* 
#menu::before{
    content: "BLOG";
    font-size: 18px;
    color: #68686A;
    font-weight: bold;

    
    
} */


.about_me{
    display: flex;
    height: 655px;
    margin-bottom: 107px;
    justify-content: space-between;
    
}
.about_blog{
    display: flex;
    margin-bottom: 107px;
    justify-content: space-between;
    
}

.about_blog p{
    color: var(--textMenu);
    font-size: 15px;
    max-width: 800px
}
.about_blog img{
    margin-left: 164px;
}


.about_me div{
    display: flex;           
    flex-direction: column;  
    justify-content: center;  
    height: 100%;
    justify-content: center; 
    text-align: left
    
}
.about_me p{
    color: var(--textMenu);
    font-size: 15px;
    max-width: 400px
}
.about_me a{
    color: var(--green);
    font-size: 15px;
    text-decoration: none;
}

.about_me img{
    border-radius: 1px 1px 230px 230px;
    margin-left: 67px;
}

#button_posts a{
    font-size: 18px;
}

.skills li{
    list-style-type: none;
    font-size: 24px;
    color: var(--text);
}
.skill_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0%;
    
}

.description p{
    font-size: 21px;
}  

.more_about .job_name{
    font-size: 20px;
}
.more_about{
    margin-top: 107px;
    display: flex;
    justify-content: center;
    margin-bottom: 107px;
}
.more_about > * {
    flex: 1;
}
.works{
    display: flex;
    align-items: flex-start;

    border-bottom: 2px solid var(--line);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.work_img{
    margin-right: 17px;
    padding-top: 16px;
}
.skills li::after{
    content: "";
    display: block;
    height: 24px;
    width: 100%;
    border-bottom: 2px solid var(--line); 
    
}



/* #header p{
    display: inline-block;
} */

.posts{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.posts h3{
    margin-top: 8px;
    margin-left: 49px;
}
.post_item{
    display: flex;
    align-items: stretch;
    outline: 2px solid transparent;
    transition: outline-color 0.3s;
}
.post_item img{
    height: 100%;
    object-fit: cover;
}

.post_item:nth-child(odd) {
	background-color: var(--light_orange);
}
.post_item:nth-child(even) {
	background-color: var(--light_green);
}

.post_item:nth-child(odd):hover {
    outline: 2px solid var(--orange);
}

.post_item:nth-child(even):hover {
    outline: 2px solid var(--green);
}

.post_item:nth-child(odd) .date {
    color: var(--orange);
    margin-left: 49px;
    margin-top: 63px; 
}

.post_item:nth-child(even) .date {
    color: var(--green);
    margin-left: 49px;
    margin-top: 63px;
}
.post_descr{
    margin-top: 16px;
    margin-left: 49px;
}


.button_posts{
    text-align: center;

}


.button_posts a{
    display: inline-flex;        
    justify-content: center;     
    align-items: center;        
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: var(--green);
    border: 1px solid var(--green); 
    border-radius: 5px;    
    margin-bottom: 91px;      
    
}

.hobby_text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    align-items: center;
}
.hobby_text > h1,
.hobby_text > p {
    flex: 1;
}
.hobby_text p {
    text-align: right;
}
.hobby_pics{
    display: grid;
    position: relative;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 264px);
    margin-bottom: 50px;
}
.pic_item{
    position: relative;
}
.pic_item:nth-child(-n+2){
    grid-row: span 2;
}
.pic_item:nth-child(n+3):nth-child(-n+4) {
    grid-column: span 2;
}

/* .overlay{
    display: none;
} */
.pic_item::after {
    content: "";
    opacity: 0;
    position: absolute;
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay{
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 16px;
    transition: opacity 0.3s ease;
    color: var(--light_text);
}
.pic_item:hover .overlay{
    opacity: 1;
    
}
.pic_item:hover::after {
 opacity: 1;
}
.hobby_pics img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .footer .container {
    display: flex;
    justify-content: space-between;
    gap: 300px;
}
.footer{
    background-color: var(--footer);
    display: flex;
    justify-content: space-between;
}
.footer h1,.footer p{
    color:  var(--light_text);
}
.footer a{
    text-decoration: none;
    color: var(--light_text);
}
.footer section {
    flex: 1; 
}

.footer input,
.footer textarea {
    background-color: transparent;
    border: 1px solid var(--light_text); 
    color: var(--light_text); 
    padding: 8px;
    width: 589px;
    border-radius: 5px;
}

.footer input::placeholder {
    color: var(--light_text); 
}
.footer textarea::placeholder {
    color: var(--light_text);
}
.footer label {
    color: var(--light_text);
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 3px;
    display: block; 
}

.footer textarea {
    width: 589px;
    height: 148px;
    resize: none;
    border-radius: 5px;
}
.footer button {
    background-color: var(--green);
    color: var(--light_text);
    padding: 8px 16px 8px 16px;
    border-radius: 5px;
    margin-bottom: 49px;
    margin-top:24px;
    width: 148px;
    height: 85;
    border: none;
}
.footer_bottom{
    color: var(--light_text);
    margin-bottom: 16px;
    margin-top: 86px;
}
.links{
    margin-top: 28px;
}

.posts_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
}

.posts_card .first_card {
    grid-column: 1 / -1; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: center;
    background-color: var(--post_card);
    margin-bottom: 60px;
}
.posts_card .card_item{
    display: flex;
    flex-direction: column; 
    margin-bottom: 60px;
    
}
.posts_card .card_item  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
}
.posts_card .card_item .card_text {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.posts_card .card_item .card_text p:last-child {
    margin-top: auto;
}
.first_card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.first_card .card_text{
    display: flex;
    flex-direction: column;
    justify-content: center;}

.card_text h4{
    margin-top: 8px;
    margin-bottom: 21px;
}

@media (max-width: 800px) {
    .posts_card {
        grid-template-columns: 1fr;
    }

    .posts_card .first_card {
        grid-template-columns: 1fr;
    }
}

.button_next {
    display: flex;
    justify-content: center; 
    margin-top: 64px;
    margin-bottom: 67px;
    align-items: center;
}

.button_next button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--green); 
    color: var(--green);
    border-radius: 5px;
    font-size: 18px;
}

.add_post {
    /* display: none; */
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

#add_post.active {
    opacity: 1;
    max-height: 500px; 
}

.create_post{
    display: flex;
    flex-direction: column;
}
.name_post,.text_post{
    width: 100%;
    color: #A3A6AD;
    border-radius: 5px;
    resize: none;
    font-size: 18px;
    font-weight: 200;
    padding-left: 20px;
    padding-top: 20px;
}

.name_post{
    height: 60px;
    margin-bottom: 20px;
}
.text_post{
    height: 123px;
}
.create_post label{
    color: var(--text);
}
.add_button{
    background-color: var(--green);
    color: var(--light_text);
    border: none;
    border-radius: 5px;
    width: 276px;
    height: 51px;
    font-size: 18px;
    cursor: pointer;
}
.del_button{
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 5px;
    width: 276px;
    height: 51px;
    font-size: 18px;
    margin-bottom: 56px;
    margin-top: 20px;
    cursor: pointer;
}

.admin_tools{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    height: 113px;
    width: 48px;
    position: absolute;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: space-evenly;
    top: 1750px;

}
.admin_tools img{
    padding-right: 12px;
    padding-left: 12px;
}

.icon_button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
/* диалоговое окно*/

dialog{
    border-radius: 10px;
    width: 516px;
    border: 1px solid var(--textMenu);
}
dialog h3{
    margin-top: 0px;
    margin-bottom: 16px;
}
.stats_blocks{
    display: flex;
    gap:26px;
}
.total_posts, .total_comments{
    box-shadow: 5px 5px 5px var(--textMenu);
    border-radius: 10px;
    flex: 1;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
}

.total_posts h4, .total_comments h4, .total_posts p, .total_comments p{
    color: var(--text);
    margin: 0px;
}
.total_comments p, .total_posts p{
    font-size: 40px;
    font-weight: bold;
}


