<section class=add_post id="add_post">
        <!-- блок создать статью -->
            <h3>{{ formTitle() }}</h3>
            <form 
                class="create_post"
                [formGroup]="form"
                (ngSubmit)="onSubmit()"
            >
                <div>
                    @let isTitleInvalid = hasError('title');
                    <label for="name_post">Заголовок</label>
                    <input 
                        id="name_post"
                        class="name_post"
                        type="text"
                        formControlName="title"
                        placeholder="Заголовок статьи"
                        [class.invalid]="isTitleInvalid"
                    >
                    @if(form.get('title')?.invalid && form.get('title')?.touched){
                        <div class="error-messages">
                            @for (errorMsg of getControlErrors('title'); track $index) {
                                <span class="error">{{ errorMsg }}</span>
                              }
                        </div>
                    }

                </div>
                <div>
                    @let isDescriptionInvalid = hasError('description');
                    <label for="text_post">Текст статьи</label>
                    <textarea 
                        id="text_post" 
                        class="text_post"
                        formControlName="description" 
                        placeholder="Текст статьи"
                        [class.invalid]="isDescriptionInvalid"
                    >
                    </textarea>
                    @if (isDescriptionInvalid) {
                        <div class="error-messages">
                          @for (errorMsg of getControlErrors('description'); track $index) {
                            <span class="error">{{ errorMsg }}</span>
                          }
                        </div>
                      }
                        
                </div>
                <div>
                    <label for="image_post">Обложка статьи</label>
                    <input
                      id="image_post"
                      class="image_post"
                      type="file"
                      accept="image/png, image/jpeg, image/jpg, image/gif, image/svg+xml"
                      (change)="onImageSelected($event)"
                    />
                </div>
                <div>
                    <button id="add_button" class="add_button" type="submit" [disabled]="form.invalid">{{ saveButtonlabel()}}</button>
                    <button id="del_button" class="del_button" type="button" (click)="onCancel()">Отменить</button>
                </div>
            </form>
                
        </section>