<section class=add_post id="add_post">
        <!-- блок создать статью -->
            <h3>Добавить статью</h3>
            <form class="create_post">
                <div>
                    <label for="name_post">Заголовок</label>
                    <input id="name_post" class="name_post" name="name_post" type="text" placeholder="Заголовок статьи" required>
                </div>
                <div>
                    <label for="text_post">Текст статьи</label>
                    <textarea id="text_post" name="text_post" class=text_post placeholder="Текст статьи" required></textarea> 
                        
                </div>
                <div>
                    <button id="add_button" class="add_button" type="submit">Добавить</button>
                    <button id="del_button" class="del_button" type="button">Отменить</button>
                </div>
            </form>
                
        </section>