<section class="about_me">
    <!-- блок обо мне -->
        <div>
            <h1>Добро пожаловать! Меня зовут Алена</h1>
            <p>Я изучаю веб-программирование и постепенно осваиваю создание интерактивных сайтов и приложений.
                В этом блоге я делюсь своими учебными проектами, практическими наработками и интересными материалами, которые помогают лучше понимать мир веб-разработки.
            </p>
            <a href="#more_about">Больше обо мне ></a>
        </div>
        <img src="pic1.jpg" alt="Моё фото" />
    </section>