<header>
    <div class="container">
        <nav class="header">
            <div class="logo">BLOG</div>
            <ul class="menu">
                <li><a routerLink="/" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Главная</a></li>
                <li><a routerLink="/blog-page"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Блог</a></li>
                <li><a (click)="toFooter()">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>
    