.about_blog{
  display: flex;
  margin-bottom: 107px;
  justify-content: space-between;
    
}
.posts_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
}

.about_blog p{
  color: var(--textMenu);
  font-size: 15px;
  max-width: 800px
}
.about_blog img{
  margin-left: 164px;
}
app-blog-post:first-child {
  grid-column: 1 / -1;
}
@media (max-width: 800px) {
  .posts_card {
    grid-template-columns: 1fr;
  }
}
.button_next {
  display: flex;
  justify-content: center; 
  margin-top: 64px;
  margin-bottom: 67px;
  align-items: center;
}

.button_next button {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--green); 
  color: var(--green);
  border-radius: 5px;
  font-size: 18px;
}

.add_post {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

#add_post.active {
  opacity: 1;
  max-height: 500px; 
}

// .create_post{
//   display: flex;
//   flex-direction: column;
// }
// .name_post,.text_post{
//   width: 100%;
//   color: #A3A6AD;
//   border-radius: 5px;
//   resize: none;
//   font-size: 18px;
//   font-weight: 200;
//   padding-left: 20px;
//   padding-top: 20px;
// }

// .name_post{
//   height: 60px;
//   margin-bottom: 20px;
//   padding-bottom: 20px;
//   border-width:1px;
// }
// .text_post{
//   height: 123px;
// }
/* лоадер */
.posts_container {
  position: relative;
  min-height: 300px;
}
.loader {
  display: none;
}
.loader.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  z-index: 1000;
}
.loader::after {
  content: '';
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-top-color: var(--green);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
/* конец лоадера */
.empty{
  display: none;
  justify-content: space-around;
  height: 300px;
  align-items: center;
}
.empty p{
  color: var(--textMenu);
}
.create_post label{
  color: var(--text);
}
// .add_button{
//   background-color: var(--green);
//   color: var(--light_text);
//   border: none;
//   border-radius: 5px;
//   width: 276px;
//   height: 51px;
//   font-size: 18px;
//   cursor: pointer;
// }
// .del_button{
//   background-color: transparent;
//   color: var(--green);
//   border: 1px solid var(--green);
//   border-radius: 5px;
//   width: 276px;
//   height: 51px;
//   font-size: 18px;
//   margin-bottom: 56px;
//   margin-top: 20px;
//   cursor: pointer;
// }

.admin_tools{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  height: 113px;
  width: 48px;
  position: fixed;
  right: 0;
  bottom: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  justify-content: space-evenly;
    

}
.admin_tools img{
  padding-right: 12px;
  padding-left: 12px;
}

.icon_button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
/* диалоговое окно*/

dialog{
  border-radius: 10px;
  width: 516px;
  border: 1px solid var(--textMenu);
}
dialog h3{
  margin-top: 0px;
  margin-bottom: 16px;
}
.stats_blocks{
  display: flex;
  gap:26px;
}
.total_posts, .total_comments{
  box-shadow: 5px 5px 5px var(--textMenu);
  border-radius: 10px;
  flex: 1;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
}

.total_posts h4, .total_comments h4, .total_posts p, .total_comments p{
  color: var(--text);
  margin: 0px;
}
.total_comments p, .total_posts p{
  font-size: 40px;
  font-weight: bold;
}
