
<main>
    <div class="container">
        <section class="about_blog">
            <div>
                <h1>Мой блог</h1>
                <p>Здесь вы найдёте статьи о программировании, дизайне, адаптивной верстке и практических лайфхаках для создания современных сайтов и приложений.
                </p>
            </div>
            <img src="1.png" />
        </section>
        <div class="post_container">
            <div class="loader" id="loader"></div>
            @if (posts.length === 0){
                <div class="empty" id="empty">
                    <p>Нет статей</p>
                </div>
            } @else {
                    <section class="posts_card">
                        @for (post of posts; track post.id;){
                            <app-blog-post  
                                [post]="post"
                                (deletePost)="onDeletePost($event)"
                                (editPost)="onEditPost($event)"
                                
                            >
                            </app-blog-post>
                                
                        }  
            </section>
            }
            
        </div>
        <div class="button_next">
            <button type="button">Далее</button>
        </div>

       <!-- блок создать статью -->
        @if(addFormVisible){
            <app-form-add-post  [editPost]="editingPost" (addPost)="onAddPost($event)" (cancel)="switchForm()" (updatePost)="onUpdatePost($event)"></app-form-add-post>
            
        }
        
    </div>
    
    <div class="admin_tools"> 
        <button (click)="switchForm()" id="showAddButton" class="icon_button">
            <img title="Добавить статью" src="post_add.png" alt="Добавить" />
        </button>
        <button (click)="switchStatistics()" id="openModalButton" class="icon_button">
            <img title="Статистика" src="statistics.png" alt="Статистика">
        </button>

    </div>
    @if(statisticsVisible){
        <app-dialog-statistics
            [visible]="statisticsVisible"
            [postCount]="posts.length"
            [commentCount]="totalComments"
            (closed)="switchStatistics()"
        >
        </app-dialog-statistics>
    }
  
</main>
