<footer class="footer" id="footer">
        <div class="container">
            <section>
                <h1>Контакты</h1>
                <p>Email: <a href="mailto:afilippova287@gmail.com">afilippova287@gmail.com</a></p>
                <p>Телефон: <a href="tel:89963456789">89963456789</a></p>
                <p class="links">Instagram | Twitter | Linkedln | GitHub</p>
                <div class="footer_bottom">
                    © 2026 Brand, Inc
                </div>
            </section>

            <section>
            <!-- блок смс -->
                <div>
                    <label>Email:</label>
                    <input type="text" placeholder="Email..." />
                </div>
                <div>
                    <label>Введите сообщение:</label>
                    <textarea class="article" placeholder="Введите сообщение..."></textarea> 
                    
                </div>
                <div>
                    <button type="submit">Добавить</button>
                </div>
                
            </section>
        </div>
</footer>